
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-boxs;
}
body{
    font-family: 'Poppins', 'sans-serif';
    width:100%;
    background-color:#ffbf80;
}
.desktopnav{
    max-width:600px;
    margin:auto;
}
.desktopnav div{
    text-align: center;
    font-size: 1.5rem;
}
.desktopnav{
    overflow-y: auto;
}
img{
    width:600px;
    height:400px;
}
section ul{
    margin-left:30px;
    list-style: none;
    margin-bottom:10px;
}
section{
    padding-left:10px;
}
section p{
    display: flex;
    text-align: center;
    background-color: white;
    width:100%; 
    margin-bottom:10px;
}
footer{
    padding-left:10px;
}
footer p{
    background-color: white;
    width:100%; 
}
footer ul{
    margin-left:30px;
    list-style: none;
}
section a{
    text-decoration: none;
    color:black;
}
section a:hover{
    background-color: greenyellow;
}
